<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masaref.bahez.masaref">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MasarefActivities.LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MasarefActivities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MasarefActivities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleInstance"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.CartsAndAccountsActivity"
            android:label="@string/title_activity_cards_and_accounts"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.AgendaActivity"
            android:label="@string/title_activity_agenda"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.ReportByDateActivity"
            android:label="@string/title_activity_report_by_date"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.ReportByCategoryActivity"
            android:label="@string/title_activity_report_by_category"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:parentActivityName=".MasarefActivities.LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.LoadingActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".MasarefActivities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".MasarefActivities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.SignUpWithFacebookActivity"
            android:label="@string/title_activity_sign_up_with_facebook"
            android:parentActivityName=".MasarefActivities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MasarefActivities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.OperationsActivity"
            android:label="@string/title_activity_operations"
            android:parentActivityName=".MasarefActivities.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.masaref.bahez.masaref.MasarefActivities.HomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.RecoverAccountActivity"
            android:label="@string/title_activity_recover_account"
            android:parentActivityName=".MasarefActivities.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.masaref.bahez.masaref.MasarefActivities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.AddIncomeCategoryActivity"
            android:label="@string/title_activity_add_income_category"
            android:parentActivityName=".MasarefActivities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.masaref.bahez.masaref.MasarefActivities.SettingsActivity" />
        </activity>
        <activity
            android:name=".MasarefActivities.AddExpenseCategoryActivity"
            android:label="@string/title_activity_add_expense_category"
            android:parentActivityName=".MasarefActivities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.masaref.bahez.masaref.MasarefActivities.SettingsActivity" />
        </activity>

        <provider
            android:name=".MasarefContentProvider.MasarefContentProvider"
            android:authorities="com.masaref.bahez.masaref.MasarefContentProvider.MasarefContentProvider" />

        <service
            android:name=".MasarefContentProvider.MasarefDefaultContent"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MasarefActivities.DateAndTimeFormatActivity"
            android:label="@string/title_activity_date_and_time_format"
            android:parentActivityName=".MasarefActivities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.masaref.bahez.masaref.MasarefActivities.SettingsActivity" />
        </activity>
    </application>

</manifest>